/node_modules
/public/hot
/public/storag
/public/storag/logs/larael.log
/public/activity/
/public/projectfile/
# /public/uploads/userprofile/*
/public/uploads/
public/uploads/proposal/22/
/public/upload/json
/storage/framework
/storage/debugbar
/storage/logs/laravel.log
/storage/logs
/bootstrap/cache
/vendor
maxx
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
status.txt
git
